body {
  background-color: black;
  color: wheat;
}
.game {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 300px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.game button {
  margin-top: 20px;
  padding: 10px;
  background-color: inherit;
  color: wheat;
  outline: none;
  border: 2px solid;
  text-transform: uppercase;
}
.result {
  text-align: center;
}
/* ----------------------- */

.photo {
  width: 250px;
  height: auto;
}
.photo-nature {
  width: 450px;
  height: auto;
}
img {
  width: 200px;
}
/* box */
.js-big-box {
  width: 300px;
  height: 300px;
  background-color: wheat;
}
.js-small-box {
  position: relative;
  top: 30%;
  left: 30%;
  width: 100px;
  height: 100px;
  background-color: black;
}
.box {
  background-color: teal;
}
/* modal */
body.show-modal .backdrop {
  opacity: 1;
  pointer-events: initial;
}
body.show-modal .modal {
  transform: scale(1);
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(224, 209, 209, 0.3);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  /* background-color: #fff; */
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}
/* всплытие событий */
#parent {
  width: 350px;
  height: 300px;
  background-color: blue;
}
#child {
  width: 250px;
  height: 200px;
  background-color: green;
  margin-top: 30px;
  margin-left: 40px;
}
#inner-child {
  width: 150px;
  height: 100px;
  background-color: red;
  margin-top: 30px;
  margin-left: 40px;
}
/* делегирование */

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.tags__item {
  margin-right: 5px;
}
.tags__btn--active{
  background-color: yellow;
}